@font-face{
    font-family: 'GillSansMT';
    src: url(gillsansmt.ttf);
}
body {
    background-color: #901600;
    margin-bottom: 0;
}
h1 {
    margin-bottom: 0;
    margin-top: 0;
}
p {

    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff

}
button {
    display: block;
    background-color: #1a4c6b;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'GillSansMT';
    font-size: 20px;
    align-self: center;
    color: #ffffff
}

a {
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    font-family: 'GillSansMT';
}
header {
    border-radius: 25px;
    background-color: #1a4c6b;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}
div {
    border-radius: 25px;
    background-image: url("./Assets/blue-gradient.png");
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}
img {
    margin-top: 0;
    margin-bottom: 0;
}
head {
    margin-top: 0;
    margin-bottom: 0;
}
.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'GillSansMT';
    font-size: 60px;
    color: #ffffff

}
.maintext {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'GillSansMT';
    font-size: 25px;
    color: #ffffff
} 
.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 15%;
    width: 15%
}
.copyright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #901600;
    font-family: 'GillSansMT';
    font-size: 20px;
    color: #ffffff;
}
